.marquee--block { 
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.marquee--list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 0;
  width:100%;
  }

  .marquee--item {
    padding: 20px;
    width:100%;
    flex:1 0 100%;

    p {
    color:$blue-700;
    margin:0;
    font-weight: 500;
    font-family: $font-family-headings;
}
  }

