.reveal-heading-block {
	

	h1 {
		font-size:80px;
		line-height: 1.2;
		font-weight: 600;
	}

	h2 {
		font-size:72px;
		line-height: 1.2;
		font-weight: 600;
	}

	h3 {
		font-size:60px;
		line-height: 1.2;
		font-weight: 600;
	}

}